/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
div{
	background-color:white;
}

ul{
	padding:20px;
	
list-style-type: none;

}
a{
	text-decoration:none;
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
.player_two{
	flex:center;
	margin-inline:220px;
	padding:10px;
}
.player_two>video{
	width:100%;
	
}
.player_two>audio{
	width:100%;
	
}
